<h1>Handling Files</h1>

<p>
  Here's a link to an image. Turbo doesn't handle non-html links, so it will ignore this link. By default, it will open in Safari.
</p>

<a href="/image.jpg">
  <img src="/image_thumbnail.jpg">
</a>

<small>
  Image credit to <a href="https://unsplash.com/photos/70l1tDAI6rM">Chris Lee via Unsplash</a>
</small>
