<h1 class="page-title">How’d You Get Here?</h1>
<p>When you tap the link to this page, Turbo proposes a visit to the app to decide how to handle the URL. In this case, it chooses to present a Turbo-based web screen.</p>
<p>Go back and try <em>Intercept with a native view</em> to see how to load a native screen instead.</p>
<p>
  <!-- 
    The replace link here has both data-turbo-action and data-turbolinks-action defined since the demo apps
    can be loaded in Turbo 7 or Turbolinks 5 mode. Your app only needs the one attribute for the version you're using
   -->
  <a href="/two">Here’s a link to another page</a> presented in the same manner.
  And <a href="/two?action=replace" data-turbo-action="replace" data-turbolinks-action="replace">here's a <em>replace</em> link to another page</a>, it does a <em>replace</em> instead of an <em>advance</em>.
</p>
