<h1>How’d You Get Here?</h1>
<p>When you tap the link to this page, Turbo calls the SessionDelegate’s <code>session(_:didProposeVisit:)</code> method.</p>
<p>The demo app’s SceneController implements this method and decides how to handle the URL. In this case, it chooses to present a Turbo Visitable.</p>
<p>See SceneController’s <code>route()</code> method for details on how the Visitable is created and displayed.</p>
<p><a href="/two">Here’s a link to another page</a> presented in the same manner.</p>

<p><strong>or</strong></p>

<p><a href="/two?action=replace" data-turbolinks-action="replace">Here's a link to another page</a> that does a <em>replace</em> instead of an <em>advance</em>
