<h1>How’d You Get Here?</h1>
<p>When you tap the link to this page, Turbo proposes a visit to the app to decide how to handle the URL. In this case, it chooses to present a Turbo-based web screen.</p>
<p>Go back and try <em>Intercept with a native view</em> to see how to load a native screen instead.</p>
<p><a href="/two">Here’s a link to another page</a> presented in the same manner.</p>

<p><strong>or</strong></p>

<p><a href="/two?action=replace" data-turbolinks-action="replace">Here's a link to another page</a> that does a <em>replace</em> instead of an <em>advance</em>
