<h1 class="page-title">Strada</h1>

<h3 class="space --top-flush">Overflow + Menu example</h2>

<p>
  This screen contains a button associated with a Strada <b>overflow-menu</b> component. The page also contains a web-based menu associated with a Strada <b>menu</b> component that contains several options to choose from.
</p>

<p>
  Since the Turbo Native demo app supports the <b>overflow-menu</b> component and the <b>menu</b> component, the web button to open the menu is hidden and replaced with a native 3-dot menu in the top-right native app bar. Tapping on that 3-dot menu will display a native menu driven by the <b>menu</b> component.
</p>

<p>
  Hiding the <b>menu</b> options behind the 3-dot <b>overflow-menu</b> is a typical convention in mobile apps. It provides a common place for infrequently used actions and makes more room on the screen for more important actions.
</p>

<div data-controller="menu bridge--menu">

  <button
    class="button"
    data-controller="bridge--overflow-menu"
    data-action="click->bridge--menu#show click->menu#show"
    data-bridge-title="Options">
    Open Menu
  </button>

  <div class="dialog"
    data-menu-target="dialog"
    data-action="click@window->menu#hideOnClickOutside">

    <div class="dialog-content">

      <span class="dialog-close" data-action="click->menu#hide">&times;</span>
      <p data-bridge--menu-target="title">Select an option</p>

      <button
        class="button"
        data-menu-target="item"
        data-bridge--menu-target="item"
        data-action="click->menu#itemSelected">
        Option One
      </button>

      <button
        class="button"
        data-menu-target="item"
        data-bridge--menu-target="item"
        data-action="click->menu#itemSelected">
        Option Two
      </button>

      <button
        class="button"
        data-menu-target="item"
        data-bridge--menu-target="item"
        data-action="click->menu#itemSelected">
        Option Three
      </button>

      <button
        class="button"
        data-menu-target="item"
        data-bridge--menu-target="item"
        data-action="click->menu#itemSelected">
        Option Four
      </button>

    </div>

  </div>

  <h4 class="result" data-menu-target="result">
    <!-- Result for selected item here -->
  </h4>

</div>
