 *:not(input):not(textarea) { -webkit-user-select: none }
html { -webkit-text-size-adjust: 100% }
body { margin: 0; padding: 0 20px }
body, input { font: -apple-system-body }
h1 { font: -apple-system-headline }
footer { font: -apple-system-footnote; color: rgb(128, 128, 128); margin-top: 30px }
a { color: rgb(0, 122, 255); text-decoration: none }
ul { margin: 0; padding: 0 20px }
code span { font-size: 0 }